//
//  Secrets.xcconfig.exemple
//  DreamOracle
//
//  Created by Deniz Bedirhan ÖKSÜZ on 27.02.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// Example only. Do NOT put real secrets here.
OPENAI_API_KEY = sk-REPLACE_WITH_YOUR_KEY
GEMINI_API_KEY = AIza-REPLACE_WITH_YOUR_KEY
